@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: inherit;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
}

/*Стакан*/
.page-container {
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 #00000033;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

/*Кнопки*/
.btn {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #615048;
}

.btn:focus {
  background-color: #615048;
}

.btn:active {
  color: #ffffff4d;
}

.btn:disabled {
  background-color: #e5e5e5;
}

.btn:disabled:hover {
  background-color: #e5e5e5;
  outline: none;
  cursor: not-allowed;
}

.btn-blue {
  color: #ffffff;
  background-color: #82B3D3;
}

.btn-blue:hover {
  background-color: #68A2CA;
}

.btn-blue:focus {
  background-color: #68A2CA;
}

.btn-green {
  color: #ffffff;
  background-color: #7DB54F;
}

.btn-green:hover {
  background-color: #6C9E42;
}

.btn-green:focus {
  background-color: #6C9E42;
}

.btn-transparent {
  color: #ffffff;
  background-color: transparent;
}

.btn-transparent:hover {
  background-color: inherit;
  opacity: 60%;
}

.btn-transparent:focus {
  background-color: inherit;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.btn-transparent:active {
  background-color: inherit;
  color: #ffffff4d;
}

/*Шапка*/
.page-header {
  background-color: #ffffff;
  color:#000000;
  z-index: 10;
}

/*Логотип CityOfSedona(города Седона)*/
.page-header-logo {
  display: block;
}

/*Основная навигация*/
.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  position: relative;
}

.navigation-logo {
  width: 140px;
  margin-right: 30px;
  position: absolute;
  top: 0;
  left: 0;
}

.navigation-list {
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-main {
  max-width: 460px;
  margin-left: 168px;
}

.navigation-main .navigation-link {
  display: inline-block;
  position: relative;
  padding: 20px 16px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
}

.navigation-main .navigation-link-current::before {
  content: "";
  position: absolute;
  right: 16px;
  bottom: -1px;
  left: 16px;
  height: 2px;
  background-color: #756257;
}

.navigation-main .navigation-link:hover {
  color: #756157;
}

.navigation-main .navigation-link:focus {
  outline: 2px solid #756257;
}

.navigation-main .navigation-link:active {
  color: #7561574d;
}

/*Навигация пользователя*/
.navigation-user {
  max-width: 312px;
  margin-right: 0;
}

.navigation-link-search {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.navigation-link-favorites {
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  position: relative;
}

.navigation-link-search:hover,
.navigation-link-favorites:hover {
  box-shadow: inset 0 0 0 2px #756157;
}

.navigation-link-search:focus,
.navigation-link-favorites:focus {
  outline: 2px solid #756157;
}

.navigation-link-search:active,
.navigation-link-favorites:active {
  box-shadow: inset 0 0 0 2px #7561574d;
  outline: none;
}

.navigation-user .navigation-link {
  display: block;
  padding: 32px 22px;
  border-radius: 4px;
}

.navigation-user .navigation-button-here {
  padding: 8px 34px;
  margin-left: 20px;
}

.number-favorites {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 11px;
  right: 4px;
  border-radius: 50%;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #ffffff;
  background-color: #7dB54f;
}

/*Основное содержимое страницы*/
.main-container {
  flex-grow: 1;
}

/*Hero*/
.hero {
  position: relative;
  padding-top: 51px;
  padding-bottom: 82px;
  color:#000000;
  background-color: #82b3d3;
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 485px;
}

/*Логотип*/
.hero-logo {
  display: block;
  margin: 0 auto;
}

.hero-divider {
  width: 100%;
  min-height: 57px;
  position: absolute;
  bottom: 0;
  background-image: url("../images/white-insertion.svg");
  background-repeat: no-repeat;
  background-size: 1200px 57px;
}

/* Секция с преимуществами */
.advantages {
  padding-top: 69px;
  background-color: #ffffff;
}

.advantages-text-container {
  width: 651px;
  margin: 0 auto;
  margin-bottom: 21px;
  padding-bottom: 69px;
}

.advantages-text-container  .lead {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-text-container p {
  margin-top: 0;
  margin-bottom: 0;
  color: #333333;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item.advantages-item-full {
  display: flex;
  flex-basis: 100%;
}

.advantages-item.advantages-item-full .advantages-item-heading{
  color: #ffffff;
}

.advantages-item-full:last-child .advantages-item-column {
  order: 1;
}

.advantages-item-square,
.advantages-item-tourists {
  background-color: #83b3d31f;
  color: #333333;
}

.advantages-item-road {
  background-color: #83b3d333;
  color: #333333;
}

.advantages-item-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.advantages-item-text-container {
  max-width: 230px;
}

.advantages-item-heading {
  position: relative;
  max-width: 175px;
  margin: 0 auto;
  margin-bottom: 62px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color:#000000;
}

.advantages-item-heading::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 86px;
  width: 60px;
  height: 0;
  margin-left: -30px;
  border-bottom: 2px solid #ffffff4d;
}

.advantages-item-square .advantages-item-heading::after,
.advantages-item-road .advantages-item-heading::after,
.advantages-item-tourists .advantages-item-heading::after {
  border-color: #0000004d;
}

.advantages-item p {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

/*Секция с особенностями*/
.features {
  background-color: #ffffff;
}

.features-text-container {
  width: 505px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 64px;
}

.features-heading {
  width: 505px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.features-text-container p {
  margin: 0;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.features-item {
  width: 400px;
  min-height: 385px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #83b3d31f;
}

.features-item-text-container {
  max-width: 230px;
}

.features-item-heading {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.features-item-accommodation .features-item-heading::before {
  content: "";
  width: 72px;
  height: 75px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  background-image: url("../images/accommodation-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.features-item-food .features-item-heading::before {
  content: "";
  width: 72px;
  height: 75px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  background-image: url("../images/food-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.features-item-souvenir .features-item-heading::before {
  content: "";
  width: 72px;
  height: 75px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  background-image: url("../images/souvenir-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.features-item-text-container p {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.features-item-food {
  background-color: #ffffff;
}

/*Секция с поиском гостиницы */
.hotel-search {
  background-color: #ffffff;
  text-align: center;
}

.hotel-search-text-container {
  max-width: 592px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 96px;
}

.hotel-search-heading {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-search-text-container p {
  margin: 0;
  margin-bottom: 54px;
  font-weight: 400;
  color: #333333;
}

.hotel-search-link {
  padding: 8px 50px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

/* Секция подписки на рассылку */
.subscribe {
  background-color:#82B3D3;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 415px;
  color: #ffffff;
  text-align: center;
}

.subscribe-text-container {
  max-width: 684px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-heading {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-text-container p {
  margin: 0;
  margin-bottom: 54px;
  font-weight: 400;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr auto;
}

.subscribe-field {
  padding: 14px 20px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.subscribe .subscribe-button {
  padding: 8px 50px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 20px;
  line-height: 36px;
}

/* контейнер фильтр блока с общим фоновым изображением */
.filter-container {
  padding-top: 35px;
  padding-bottom: 70px;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 412px;
  background-color:#82B3D3;
  color: #ffffff;
}

.main-catalog-header {
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 40px;
}

/*Заголовок первого уровня catalog*/
.catalog-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

/*Хлебные крошки*/
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.breadcrumbs-item {
  margin-right: 28px;
  position: relative;
}

.breadcrumbs-item::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -18px;
  width: 8px;
  height: 20px;
  background-image: url("../images/breadcrumbs.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px 20px;
}

.breadcrumbs-item:first-child::before {
  content: none;
}

.breadcrumbs-link {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.breadcrumbs-link:hover {
  color: #ffffff99;
}

.breadcrumbs-link:focus {
  color: #ffffff;
}

.breadcrumbs-link:active {
  color: #ffffff4d;
}

.breadcrumbs-link-home {
  display: block;
  min-width: 13px;
  min-height: 15px;
  background-image: url("../images/home.svg");
  background-repeat: no-repeat;
  background-size: 13px 15px;
  background-position: center;
}

/*Секция с фильтрами*/
.filter {
  width: 1060px;
  margin: 0 auto;
}

/*форма*/
.form-filter {
  display: flex;
  justify-content: space-between;
}

.form-filter-column {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.form-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.form-filter-title {
  margin-bottom: 32px;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;

}

.form-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form-filter-item:not(:last-of-type) {
  margin-bottom: 16px;
}

/* Control */
.control {
  position: relative;
  display: block;
  padding-left: 36px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

/* Mark */
.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.control:hover {
  opacity: 60%;
}

.control:focus .control-mark {
  outline: 3px solid #83b3d3;
}

.control:active {
  opacity: 30%;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 4px;
  content: "";
  width: 12px;
  height: 10px;
  background-image: url("../images/checkbox-tick.svg");
  background-repeat: no-repeat;
  background-size: 12px 10px;
}

/* Radio */
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3f5e72;
}

.control-label {
  font-weight: 400;
  line-height: 23px;
}

/* Range-slider */
.range-scale {
  position: relative;
  height: 4px;
  margin-top: 44px;
  margin-bottom: 8px;
  background-color: #ffffff3d;

}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #ffffff;
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.toggle-min {
  left: 0;
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.range-wrapper-inputs {
  display: flex;
  gap: 2px;
}

.range-input {
  width: 143px;
  padding: 12px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: start;
  border: none;
  background-color: #f2f2f2;
}

.range-input-min {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.range-input-max {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input:hover {
  background-color: #e6e6e6;
}

.range-input:focus {
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.range-input:active {
  background-color: #f2f2f2;
  box-shadow: inset 0 0 0 2px #000000;
  outline: none;
}

.form-filter-buttons-container {
  min-width: 191px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
}

.form-filter button[type="submit"] {
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
}

.form-filter button[type="reset"] {
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
}

/*Секция каталога*/
.catalog {
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #ffffff;
}

/*Сортировка*/
.sort-container {
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.sort-container-text {
  margin: 0;
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ffffff;
}

.number-found {
  margin-left: 3px;
}

.select-control {
  min-width: 292px;
  margin-right: 70px;
  padding: 12px 18px;
  padding-right: 40px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  appearance: none;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  background-size: 12px 7px;
}

.select-control:hover {
  border: 2px solid #68a2ca;
}

.select-control:focus {
  border: 2px solid #68a2ca;
  outline: none;
}

.select-control:active {
  border: 2px solid #3f5e72;
}

.select-control:disabled {
  color: #0000004d;
  border: 2px solid #0000004d;
}

.select-control:disabled:hover {
  color: #0000004d;
  border: 2px solid #0000004d;
  cursor: not-allowed;
}

/*Кнопки раскладки списка карточек*/
.cards-view-list {
  width: 160px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.cards-view-item:first-child .cards-view-button {
  background-image: url("../images/view-cards-sprites.png");
  background-repeat: no-repeat;
  background-position: 110% 50%;
}

.cards-view-item:nth-child(2) .cards-view-button {
  background-image: url("../images/view-cards-sprites.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.cards-view-item:last-child .cards-view-button {
  background-image: url("../images/view-cards-sprites.png");
  background-repeat: no-repeat;
  background-position: 7px 50%;
}

.cards-view-button {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.cards-view-button:hover {
  border-color: #000000;
}

.cards-view-button:focus {
  border-color: #68a2Ca;
  outline: none;
}

.cards-view-button:active {
  border-color: #000000;
}

.cards-view-item:not(:last-child) {
  margin-right: 8px;
}

.cards-view-button-active {
  border-color: #000000;
}

/*Список карточек*/
.hotel-card-list {
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  justify-content: center;
  gap: 20px;
}

/*Карточка*/
.hotel-card-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-image {
  display: block;
  max-width: 100%;
  object-fit: contain;
  margin-bottom: 16px;
}

.hotel-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotel-card-price {
  margin: 0;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.hotel-card-price-name {
  flex: 1 50%;
}

.hotel-card-price-value {
  flex: 1 50%;
  text-align: end;
}

.hotel-card-buttons {
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.hotel-card-button-detail {
  padding: 8px 26px;
  border-radius: 4px;
}

.hotel-card-button-add-to-favorites {
  padding: 8px 20px;
  border-radius: 4px;
}

.hotel-card-button-in-favorites {
  padding: 8px 18px;
  border-radius: 4px;
}

.hotel-card-ranking {
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.hotel-card-stars {
  flex: 1 50%;
}

.hotel-card-stars-4 {
  background-image: url("../images/stars-4.svg");
  background-repeat: no-repeat;
  background-size: 140px 37px;
}

.hotel-card-stars-3 {
  background-image: url("../images/stars-3.svg");
  background-repeat: no-repeat;
  background-size: 140px 37px;
}

.hotel-card-stars-2 {
  background-image: url("../images/stars-2.svg");
  background-repeat: no-repeat;
  background-size: 140px 37px;
}

.hotel-card-rank {
  flex: 1 50%;
  padding-top: 9px;
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #f2f2f2;
  border-radius: 4px;
}

/*Пагинация*/
.pagination {
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  padding-top: 39px;
  border-top: 1px solid #e6e6e6;
  list-style-type: none;
  display: flex;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item-ellipsis {
  width: 60px;
  height: 60px;
}

.pagination-item span{
  font-weight: 400;
}

.pagination-link {
  width: 60px;
  height: 60px;
  padding: 12px 15px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
}

.pagination-link:hover {
  background-color: #68a2Ca;
  box-shadow: inset 0 0 0 1px #82b3d3;
}

.pagination-link:focus {
  background-color: #68a2Ca;
  box-shadow: inset 0 0 0 1px #82b3d3;
  outline: 1px solid #82b3d3;
}

.pagination-link:active {
  color: #FFFFFF4d;
  background-color: #82b3d3;
}

.pagination-link.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-current:hover {
  color: #000000;
  background-color: #f2f2f2;
  box-shadow: none;
}

.pagination-current:focus {
  color: #000000;
  background-color: #f2f2f2;
}

/*Секция подписки на рассылку catalog*/
.subscribe-catalog {
  background-color:#ffffff;
  background-image: none;
  color: #000000;
}

.subscribe-catalog .subscribe-field {
  background-color: #f2f2f2;
}

/*Подвал сайта*/
.page-footer {
  padding-top: 45px;
  padding-bottom: 35px;
  background-color: #ffffff;
  color: #000000;
}

.page-footer-container {
  width: 1060px;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social {
  max-width: 200px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  width: 48px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-decoration: none;
  border: none;
  cursor: pointer;
  position: relative;
  background-color: inherit;
}

.footer-social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83b3d3;
}

.footer-social-link:hover .footer-social-icon {
  fill: #68a2Ca;
}

.footer-social-link:focus .footer-social-icon {
  fill: #68a2Ca;
}

.footer-social-link:active .footer-social-icon {
  fill: #68a2Ca4d;
}

.footer-contacts {
  width: 331px;
}

.footer-contacts-address {
  font-style: normal;
}

/*Телефон*/
.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-contacts-address-phone:hover {
  color: #756157;
}

.footer-contacts-address-phone:focus {
  color: #756157;
}

.footer-contacts-address-phone:active {
  color: #7561574d;
}

.htmlacademy-link {
  width: 115px;
  height: 33px;
}

.htmlacademy-link:hover .htmlacademy-logo {
  fill: #756157;
}

.htmlacademy-link:focus .htmlacademy-logo {
  fill: #756157;
}

.htmlacademy-link:active .htmlacademy-logo {
  fill: #7561574d;
}

.htmlacademy-logo {
  fill: #000000;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2cc;
  z-index: 20;
}

.modal {
  position: relative;
  margin: auto;
  margin-top: 396px;
  padding: 64px 70px;
  border-radius: 30px;
  background-color: #ffffff;
}

.modal-search {
  width: 717px;
}
