@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
}

.page-container {
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

.btn {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.page-header {
  background-color: #ffffff;
  color:#000000;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  width: 140px;
  margin-right: 30px;
}

.navigation-list {
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
  width: 460px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-user {
  max-width: 312px;
  margin-right: 0;
  justify-content: flex-end;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}

.navigation-user .btn {
  padding: 8px 34px;
  margin-left: 20px;
  border-radius: 4px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
}

.number-favorites {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #ffffff;
  background-color: #7DB54F;
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

.hero {
  padding-top: 51px;
  padding-bottom: 82px;
  color:#000000;
  background-color: #82b3d3;
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 485px;
}

.hero-logo {
  display: block;
  margin: 0 auto;
}

.divider {
  background-color: #ffffff;
  background-image: url("../images/white-insertion.svg");
  background-repeat: no-repeat;
  background-size: 1200px 57px;
}

/* Секция с преимуществами */

.advantages {
 background-color: #ffffff;
}

.advantages-text-container {
  width: 651px;
  margin: 0 auto;
  margin-bottom: 21px;
  padding-top: 69px;
  padding-bottom: 69px;
}

.advantages-text-container  .lead {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-text-container p {
  margin-top: 0;
  margin-bottom: 0;
  color: #333333;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-item.advantages-item-full {
  display: flex;
  flex-basis: 100%;
}

.advantages-item.advantages-item-full .advantages-item-heading{
  color: #ffffff;
}

.advantages-item-full:last-child .advantages-item-column {
  order: 1;
}

.advantages-item-square,
.advantages-item-tourists {
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
  color: #333333;
}

.advantages-item-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.advantages-item-text-container {
  max-width: 230px;
}

.advantages-item-heading {
  max-width: 175px;
  margin: 0 auto;
  margin-bottom: 62px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color:#000000;
}

.advantages-item p {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

/*Секция с особенностями*/
.features {
  background-color: #ffffff;
}

.features-text-container {
  width: 505px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 64px;
}


.features-heading {
  width: 505px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.features-text-container p {
  margin: 0;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.features-item {
  width: 400px;
  min-height: 385px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
}

.features-item-text-container {
  max-width: 230px;
}

.features-item-heading {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.features-item-text-container p {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}



.features-item-food {
  background-color: #ffffff;
  color: #333333;
}

/*Секция с поиском гостиницы */

.hotel-search {
  background-color: #ffffff;
  text-align: center;
}

.hotel-search-text-container {
  max-width: 592px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 96px;
}

.hotel-search-heading {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-search-heading + p {
  margin: 0;
  margin-bottom: 54px;
  font-weight: 400;
  color: #333333;
}

.hotel-search-link {
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

/* Секция подписки на рассылку */

.subscribe {
  background-color:#82B3D3;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 415px;
  color: #ffffff;
  text-align: center;
}

.subscribe-text-container {
  max-width: 684px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-heading {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.subscribe-text-container p {
  margin: 0;
  margin-bottom: 54px;
  font-weight: 400;
}

.subscribe .subscribe-button {
  font-size: 20px;
  line-height: 36px;
}

.container {
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 412px;
  background-color:#82B3D3;
  color: #ffffff;
}

.catalog-header {
  width: 1060px;
  margin: 0 auto;
}

.filter {
  width: 1060px;
  margin: 0 auto;
}

.form-filter {
  display: flex;
}

.sort-container {
  width: 1060px;
  margin: 0 70px;
  display: flex;
}

.catalog-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.form-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.form-filter-list {
  margin: 0;
  padding: 0;
}

.control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.price-input-list {
  margin: 0;
  padding: 0;
}

.min-input,
.max-imput {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.found {
  width: 338px;
  margin-right: 200px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  margin-right: 70px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.cards-view-list {
  width: 160px;
  margin: 0;
  padding: 0;
}

.hotel-card-list {
  width: 1060px;
  margin: 0 70px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.hotel-card-item {
  width: 340px;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.hotel-card-stars {
  background-image: url("../images/stars-4.svg");
  background-repeat: no-repeat;
  background-size: 140px 37px;
}

.hotel-card-item:nth-child(3) .hotel-card-stars {
  background-image: url("../images/stars-3.svg");
}

.hotel-card-item:nth-child(4) .hotel-card-stars {
  background-image: url("../images/stars-2.svg");
}

.hotel-card-rank {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #f2f2f2;
}

.pagination {
  margin: 0;
  padding: 0;
}

.pagination-item span{
  font-weight: 400;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.subscribe-catalog {
  text-align: center;
}

.subscribe-text {
  width: 475px;
  margin: 0 auto;
}

.page-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #ffffff;
  color: #000000;
}

.page-footer-container {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-social {
  max-width: 200px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  width: 48px;
  height: 40px;
}

.footer-contacts {
  width: 331px;
}

.footer-contacts-address {
  font-style: normal;
}

.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.htmlacademy-link {
  width: 115px;
}



.btn-blue {
  color: #ffffff;
  background-color: #82B3D3;
}

.btn-green {
  color: #ffffff;
  background-color: #7DB54F;
}

.btn-transparent {
  color: #ffffff;
  background-color: transparent;
}
