@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: inherit;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
}

/*Стакан*/
.page-container {
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

/*Кнопки*/
.btn {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.btn-blue {
  color: #ffffff;
  background-color: #82B3D3;
}

.btn-green {
  color: #ffffff;
  background-color: #7DB54F;
}

.btn-transparent {
  color: #ffffff;
  background-color: transparent;
}

/*Шапка*/
.page-header {
  background-color: #ffffff;
  color:#000000;
}

/*Логотип CityOfSedona(города Седона)*/
.page-header-logo {
  display: block;
}

/*Основная навигация*/
.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  width: 140px;
  margin-right: 30px;
}

.navigation-list {
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-main {
  max-width: 460px;
}

.navigation-main .navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
}

/*Навигация пользователя*/
.navigation-user {
  max-width: 312px;
  margin-right: 0;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.navigation-user .navigation-link {
  display: block;
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}

.navigation-user .navigation-button-here {
  padding: 8px 34px;
  margin-left: 20px;
  border-radius: 4px;
}



.number-favorites {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 11px;
  right: 4px;
  border-radius: 50%;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #ffffff;
  background-color: #7DB54F;
  text-align: center;
}

/*Основное содержимое страницы*/
.main-container {
  flex-grow: 1;
}

/*Hero*/
.hero {
  padding-top: 51px;
  padding-bottom: 82px;
  color:#000000;
  background-color: #82b3d3;
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 485px;
}

/*Логотип*/
.hero-logo {
  display: block;
  margin: 0 auto;
}

.divider {
  background-color: #ffffff;
  background-image: url("../images/white-insertion.svg");
  background-repeat: no-repeat;
  background-size: 1200px 57px;
}

/* Секция с преимуществами */

.advantages {
 background-color: #ffffff;
}

.advantages-text-container {
  width: 651px;
  margin: 0 auto;
  margin-bottom: 21px;
  padding-top: 69px;
  padding-bottom: 69px;
}

.advantages-text-container  .lead {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-text-container p {
  margin-top: 0;
  margin-bottom: 0;
  color: #333333;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-item.advantages-item-full {
  display: flex;
  flex-basis: 100%;
}

.advantages-item.advantages-item-full .advantages-item-heading{
  color: #ffffff;
}

.advantages-item-full:last-child .advantages-item-column {
  order: 1;
}

.advantages-item-square,
.advantages-item-tourists {
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
  color: #333333;
}

.advantages-item-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.advantages-item-text-container {
  max-width: 230px;
}

.advantages-item-heading {
  max-width: 175px;
  margin: 0 auto;
  margin-bottom: 62px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color:#000000;
}

.advantages-item p {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

/*Секция с особенностями*/
.features {
  background-color: #ffffff;
}

.features-text-container {
  width: 505px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 64px;
}


.features-heading {
  width: 505px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.features-text-container p {
  margin: 0;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.features-item {
  width: 400px;
  min-height: 385px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
}

.features-item-text-container {
  max-width: 230px;
}

.features-item-heading {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.features-item-text-container p {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.features-item-food {
  background-color: #ffffff;
}

/*Секция с поиском гостиницы */

.hotel-search {
  background-color: #ffffff;
  text-align: center;
}

.hotel-search-text-container {
  max-width: 592px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 96px;
}

.hotel-search-heading {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-search-text-container p {
  margin: 0;
  margin-bottom: 54px;
  font-weight: 400;
  color: #333333;
}

.hotel-search-link {
  padding: 8px 50px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

/* Секция подписки на рассылку */

.subscribe {
  background-color:#82B3D3;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 415px;
  color: #ffffff;
  text-align: center;
}

.subscribe-text-container {
  max-width: 684px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-heading {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-text-container p {
  margin: 0;
  margin-bottom: 54px;
  font-weight: 400;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr auto;
}

.subscribe-field {
  padding: 14px 20px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.subscribe .subscribe-button {
  padding: 8px 50px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 20px;
  line-height: 36px;
}
/* контейнер фильтр блока с общим фоновым изображением */
.filter-container {
  padding-top: 35px;
  padding-bottom: 70px;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 408px;
  background-color:#82B3D3;
  color: #ffffff;
}

.main-catalog-header {
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 40px;
}
/*Заголовок первого уровня catalog*/
.catalog-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}
/*Хлебные крошки*/
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  min-width: 13px;
  min-height: 15px;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 28px;
}

.breadcrumbs-link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

/*Секция с фильтрами*/
.filter {
  width: 1060px;
  margin: 0 auto;
}
/*форма*/
.form-filter {
  display: flex;
}

.form-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.form-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.form-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.price-input-list {
  margin: 0;
  padding: 0;
}

.min-input,
.max-imput {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

/*Секция каталога*/
.catalog {
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #ffffff;
}

/*Сортировка*/
.sort-container {
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.sort-container-text {
  margin: 0;
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ffffff;
}

.number-found {
  margin-left: 3px;
}

.select-control {
  width: 292px;
  margin-right: 70px;
  padding: 12px 18px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

/*Кнопки раскладки списка карточек*/
.cards-view-list {
  width: 160px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.cards-view-list .cards-view-item:nth-child(1) .cards-view-button {
  background-image: url("../images/view-cards-sprites.png");
  background-repeat: no-repeat;
  background-position: 110% 50%;
}

.cards-view-list .cards-view-item:nth-child(2) .cards-view-button {
  background-image: url("../images/view-cards-sprites.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.cards-view-list .cards-view-item:nth-child(3) .cards-view-button {
  background-image: url("../images/view-cards-sprites.png");
  background-repeat: no-repeat;
  background-position: 7px 50%;
}

.cards-view-button {
  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.cards-view-button-active {
  border-color: #000000;
}

.cards-view-item:not(:last-child) {
  margin-right: 8px;
}

/*Список карточек*/
.hotel-card-list {
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  justify-content: center;
  gap: 20px;
}

/*Карточка*/
.hotel-card-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-image {
  display: block;
  max-width: 100%;
  object-fit: contain;
  margin-bottom: 16px;
}

.hotel-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotel-card-price {
  margin: 0;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.hotel-card-price-name {
  flex: 1 50%;
}

.hotel-card-price-value {
  flex: 1 50%;
  text-align: end;
}

.hotel-card-buttons {
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.hotel-card-button-detail {
  padding: 8px 26px;
  border-radius: 4px;
}

.hotel-card-button-add-to-favorites {
  padding: 8px 20px;
  border-radius: 4px;
}

.hotel-card-button-in-favorites {
  padding: 8px 18px;
  border-radius: 4px;
}

.hotel-card-ranking {
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}


.hotel-card-stars {
  flex: 1 50%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.hotel-card-star:not(:last-child) {
  margin-right: 6px;
}

.hotel-card-rank {
  flex: 1 50%;
  padding-top: 9px;
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  background-color: #f2f2f2;
  border-radius: 4px;
}

/*Пагинация*/
.pagination {
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item-ellipsis {
  width: 60px;
  height: 60px;
}

.pagination-item span{
  font-weight: 400;
}

.pagination-link {
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 23px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

/*Секция подписки на рассылку catalog*/
.subscribe-catalog {
  background-color:#ffffff;
  background-image: none;
  color: #000000;
}

.subscribe-catalog .subscribe-field {
  background-color: #f2f2f2;
}

/*Подвал сайта*/
.page-footer {
  padding-top: 45px;
  padding-bottom: 35px;
  background-color: #ffffff;
  color: #000000;
}

.page-footer-container {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social {
  max-width: 200px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  width: 48px;
  height: 40px;
}

.footer-social-link {
  position: relative;
  padding: 20px 24px;
  background-color: inherit;
}

.footer-social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.footer-contacts {
  width: 331px;
}

.footer-contacts-address {
  font-style: normal;
}

/*Телефон*/
.footer-contacts-address-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.htmlacademy-link {
  width: 115px;
}

.htmlacademy-logo {
  display: block;
}
